<header>
	<nav class="nav_after_sign_up">
		<h1 class="logo">LOGO</h1>
		<ul class="nav_after_links">
			<li class="nav_after_link">商品一覧</li>
			<li class="nav_after_link"><%= link_to "新規登録",  new_end_user_registration_path %></li>
			<li class="nav_after_link"><%= link_to "ログイン", new_end_user_session_path %></li>
		</ul>
	</nav>
</header>